@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;0,700;1,400;1,700;1,800&family=Nunito:ital,wght@0,400;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap');
/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Nunito', sans-serif; */

:root {
    --nav-link-color: #130f40;
    --active-color: salmon;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%; /* 1rem */
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 900;
    line-height: 1.2;
}

h1 {
    font-size: calc(1.345rem + 1.4vw);
}


h2 {
    font-size: calc(1.315rem + 0.78vw);
}

h6 {
    font-size: calc(1.1rem + 0.38vw);
}

.header{
    padding-bottom: 2rem;
    font-size: 3.5rem;
    text-align: center;
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 9%;
    background: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.page-header .brand {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--nav-link-color);
}
.page-header .brand i {
    color: var(--active-color);
}

.page-header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--nav-link-color);
}

.page-header .navbar a:hover, .page-header .toolbar a:hover, .page-header .navbar a:focus, .page-header .toolbar a:focus {
    color: var(--active-color);
}

.page-header .toolbar a {
    font-size: 2.5rem;
    color: var(--nav-link-color);
    margin-left: 1.5rem;
}

.catalog{
    /* width:90%; */
    padding: 5rem 9%;
}

.catalog .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.catalog .product-container .content {
    padding: 1rem 0;
    text-align: center;
}
.catalog .product-container .content h3 {
    font-size: 2.2rem;
    padding-bottom: .5rem;
}

.catalog .product-container .content .price {
    font-size: 2rem;
}

.catalog .product-container .image {
    height: 45rem;
    width: 100%;

}
.catalog .product-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* footer */

.bg-dark {
    background-color: #030114e1;
} 
.text-white {
    color: white;
}

.container {
    max-width: 90%;
    margin: auto;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.py-5{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mb-3 {
    margin-bottom: 3rem;
}

.mt-5 {
    margin-top: 3rem    ;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-unstyled{
    list-style: none;
}

.footer-link{
    font-size: 0.9rem;
    position: relative;
    color: whitesmoke;
}

.footer-link:hover, .footer-link:focus {
    color: var(--active-color);
    padding-left: 0.6rem;
}

.footer-link::before {
    content: '\f0da';
    display: inline-block;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    transition: all 0.3s;
    opacity: 0;
}

.footer-link:hover::before, .footer-link:focus::before{
    opacity: 1;
}

.border-top {
    border-top-style: solid;
    border-color: black;
    border-top-width: 1px;
}

.grid-container{
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.2rem;
    grid-template-areas: "sidebar main main main";
}

main {
    background-color: #fff;
    grid-area: main;
}

aside {
    background-color: blueviolet;
    grid-area: sidebar;
}

.svg-icon {
    width: 64px;
    height: 64px;
    stroke-width: 2;
}